.form {
    width: 320px;
  }
  
  .label {
    display: flex;
    flex-direction: column;
    margin-bottom: 16px;
  }
  
  .formInput {
    padding: 8px 15px;
  }
  
  .errorText {
    margin-top: 20px;
    padding: 0 6px;
    border: 1px solid grey;
    border-radius: 6px;
    background-color: bisque;
  }